[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-community = "*"
faiss-cpu = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
streamlit = "*"

[dev-packages]
pre-commit = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
